@import "tailwindcss";

@theme {
    --breakkpoint-xxs: 20rem;
    --breakpoint-xs: 25rem;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cmyk;
}